             p
            {
                color:red;
                background-color:skyblue;
            }
            .passage1{
                color:springgreen;
                background-color: tomato;
            
            }